<footer class="site-footer">
  <div class="columns">
    <div class="column">
      <a href="/prio/">Data Acquisition Priorities</a>
      <a href="/sharing/">Data Sharing Policy</a>
      <a href="/about/">About</a><br/>
    </div>
    <div class="column text-center">
      <a href="/">The AIDA Dataset Register</a>
    </div>
    <div class="column text-right">
      <a href="/search/">Search</a>
      <a href="/metrics/">Metrics</a>
      <a href="/api/">API</a><br/>
    </div>
  </div>
</footer>
