<footer class="site-footer">
  <div class="columns">
    <div class="column">
      <a href="/datasets/">Datasets</a>
      <a href="/search/">Search</a>
      <a href="/metrics/">Metrics</a>
      <a href="/api/">API</a><br/>
    </div>
    <div class="column text-center">
      <a href="/">AIDA Data Hub</a>
      <a href="/about/">About</a><br/>
      <a href="/jobs/">Jobs</a><br/>
    </div>
    <div class="column text-right">
      <a href="/sharing/">Data Sharing Policy</a>
      <a href="/prio/">Acquisition Priorities</a>
      <a href="/services/">Services</a>
    </div>
  </div>
</footer>
