---
---
// - All pages ----------------------------------------------------------------
@import "{{ site.theme }}";
.page-header {
  background-color: #052544;
  background-image: url(/assets/images/aida-banner-narrow-half.jpg);
  background-size: cover;
  background-position-y: center;
  background-position-x: right;
  padding: 0px;
  text-align: left;
}
.project-tagline {
    opacity: 1.0;
}
.page-header .headings {
  padding: 1rem 0rem 3rem;
  text-align: center;
}
.page-header a {
  color: inherit;
  font-weight: bold;
}

// Main menu
#main-menu {
  max-width: 64rem;
  padding: 0 6rem 1rem 6rem;
  margin: 0 auto;
}
#main-menu .icon img {
  height: 75px;
}
@media only screen and (min-width: 64em) {
  #main-menu {
    max-width: 64rem;
    padding: 0 6rem 1rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 42em) and (max-width: 64em) {
  #main-menu {
    padding: 0 4rem;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 42em) {
  #main-menu {
    padding: 0;
    font-size: 0.75rem;
  }
  #main-menu .icon img {
    height: 4em;
  }
}
#main-menu .icon {
  padding-left: 0px;
}
#main-menu ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  list-style: none;
}
#main-menu ul li {
  display: inline;
  vertical-align: middle;
  padding-left: 1em;
}
#main-menu ul ul a {
  white-space:nowrap;
  font-weight: normal;
}
#main-menu ul ul {
  display: none;
  border-radius: 5px;
}
#main-menu li:hover {
  position:relative;
}
#main-menu ul li:hover>ul{
  display:block;
}
#main-menu ul ul {
  position: absolute;
  left: -2px;
  top: 98%;
  padding: 5px;
  background: #11113377;
  backdrop-filter: blur(6px);
}
#main-menu ul ul li {
  display: block;
}

// General purpose

a.button {
  transition-duration: 0.2s;
  color: white;
  background-color: #1e6bb8;
  border: 2px solid #1e6bb8;
  border-radius: 5px;
  padding: 6px 18px;
  text-decoration: none;
}
a.button:hover, a.button:active {
    background-color: white;
    color: #1e6bb8;
    //background-color: #2277cb;
    //background-color: #257ed7;
}

.anchorjs-link {
  color: #157878;
}
.anchorjs-link:hover {
  text-decoration: none;
}

// Columns
.columns {
  display: flex;
}
.columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

// Text alignment
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.revealable {
  max-height: 1000px;
  transition: all 0.5s ease-in;
  overflow: hidden;

}
.hidden {
  max-height: 0 !important;
  transition: all 0.2s ease-out;
}

.small {
  font-size: small;
}

.right {
  float: right;
  margin: 1ex;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

// Tables
.tight-table tr td {
  padding: 0px 0px 1px 1ex;
  border: 0px;
}

.tight-table tr td:first-child {
  padding-left: 0px;
}

// - Frontpage ----------------------------------------------------------------
.dataset-table table td,
.dataset-table table th {
  border: none;
  vertical-align: top;
}
.dataset-table td:first-child {
  text-align: center;
}
.dataset-table img {
  max-height: 6em;
  max-width: 4.5em;
}
.dataset-table .keywords {
  font-size: 1rem;
}
.dataset-table a.doi {
  font-size: 1rem;
  color: #606c71;
}

// - Search page -------------------------------------------------------------
#dataset-table {
  font-size: small;
}

#dataset-table tbody tr {
  vertical-align: top;
}

.dataTables_wrapper .dataTables_info {
  padding-bottom: 0.755em;
}

span.clearicon {
    position: relative;
}
span.clearicon span {
    position: absolute;
    display: block;
    top: 5px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/0/0f/Clear_Icon.svg');
    cursor: pointer;
}
span.clearicon input {
    padding-right: 16px;
    box-sizing: border-box;
}

// - Dataset page -------------------------------------------------------------
.dataset-example-images {
  padding-left: 0;
}
.dataset-example-images:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.dataset-example-images > li {
    border: 1px solid transparent;
    float: left;
    height: calc(100% / 5);
    margin: 0 -1px -1px 0;
    overflow: hidden;
    width: calc(100% / 5);
}
.dataset-example-images > li > img {
  cursor: zoom-in;
}
.viewer-title {
  padding-bottom: 5px; // FIXME: This is a workaround for viewerjs cropping the bottoms of letters sticking down.
  color: white; // Readability
  text-shadow: 0px 0px 3px black; // Readability
  font-size: 15px;
  opacity: 1;
  font-weight: bold;
}

.info-box th {
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
}
.info-box td {
  vertical-align: top;
}
.info-box ol.references {
    counter-reset: list;
    padding-left: 0;
}
.info-box ol.references > li {
    list-style: none;
}
.info-box ol.references > li:before {
    content: "[" counter(list) "] ";
    counter-increment: list;
}

// - AIDA data sharing overview page -------------------------------------------------------------

.aida-data-sharing-overview-member {
  background: #d9ead3;
}
table.aida-data-sharing-overview td {
  background: #d9ead3;
}
table.aida-data-sharing-overview tr.nonmember td {
  background: #c9daf8;
}
.aida-data-sharing-overview-nonmember {
  background: #c9daf8;
}
table.aida-data-sharing-overview td {
  border: 0px;
  vertical-align: top;
}
table.aida-data-sharing-overview td:nth-child(1) {
  text-align: right;
  font-weight: bold;
}
table.aida-data-sharing-overview td:nth-child(2) {
  padding-left: 0px;
}
table.aida-data-sharing-overview {
  counter-reset: myOrderedListItemsCounter;
}
table.aida-data-sharing-overview td:first-child::before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter)".";
}

// - Metrics page -------------------------------------------------------------

// Making mouseover hover styles for member countries on the map, eg:
//#country-CN,#country-ES,#country-SE,#country-GB {
//#country-CN:hover,#country-ES:hover,#country-SE:hover,#country-GB:hover {
{% assign country-codes = '' | split: '' %}
{% for d in site.datasets %}{% assign country-codes = country-codes | concat: d.other.countries-shared %}{% endfor %}
{% assign country-codes = country-codes | uniq %}
// {{ country-codes }}
{% for c in country-codes %}#country-{{ c }}{% unless forloop.last %},{% endunless %}{% endfor %} {
  fill: #045eb6 !important;
}
{% for c in country-codes %}#country-{{ c }}:hover{% unless forloop.last %},{% endunless %}{% endfor %} {
  fill: #0c72d5 !important;
}


/* Main page section*/
.scilife_nbis_div{
  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
    justify-content:  center;
    padding: 50px;
  }
  img,svg {
  vertical-align: middle;
}
}

#scilife_logo{
  height: 3.4rem;
  min-width: 16rem;
  align-self: end;
  margin-top: 10px;
  @media only screen and (max-width: 600px) {
    align-self: start;
    margin-right: 35px;

  }
}

#aida_logo{

  height: 4.9rem;
  width: 5.3rem;
  @media only screen and (min-width: 600px) and (max-width: 920px){
    margin-left: 45px;

    }
  @media only screen and (max-width: 600px) {
    align-self: start;
    margin-top: 15px;
    margin-bottom: 15px;

  }

}
#nbis_logo{
  height: 5rem;
  width: 8rem;
  @media only screen and (max-width: 600px) {
    margin-left: 90px;
  }

}

#footimg{
  width: 100%;
}


/* Footer section */

.scilife_nbis_footer{
  @media only screen and (min-width: 0px) and (max-width: 400px){
    display: none;
    }

}
#nbis_logo_footer{
  height: 5rem;
   width: 8rem;
   @media only screen and (max-width: 720px) {
    height: 2.5rem;
    width: 4.5rem;
    margin-top: 4px;

  }
 }

 #aida_logo_footer{

  height: 4.9rem;
  width: 5.3rem;
  @media only screen and (max-width: 720px) {
    height: 3rem;
    width: 3.5rem;

  }

}
#scilife_logo_footer{
  height: 3.4rem;
  min-width: 16rem;
  align-self: end;
  margin-top: 10px;
  @media only screen and (max-width: 720px) {
    height: 1.8rem;
    min-width: 9rem;
    margin-top: 8px;

  }

}

.personContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.personSub{
  padding: 25px;
}

// - Programs -------------------------------------------------------------

.program td {
  vertical-align: top;
}
.program td:first-child {
  vertical-align: top;
  white-space: nowrap;
}
.program tr td {
  padding-bottom: 0.7ex;
}
